$color-red: #ea1c2c;
$color-white: #fff;

body {
    font-family: "Nunito", sans-serif;
    background-color: #f5d9d5;
}

#mainNavbar {
    .navbar-brand,
    .nav-link {
        font-size: 1.5rem;
        font-weight: 100;
    }
    .navbar-brand {
        color: $color-red;
    }

    .nav-link {
        color: $color-white;
        transition: color 0.2s;

        &:hover {
            color: $color-red;
        }
    }
}

#headingGroup {
    h1 {
        color: $color-white;
        font-weight: 100;
        font-size: 4rem;

        span {
            color: $color-red;
        }

        @media only screen and (max-width: 75em) {
            font-size: 3rem;
        }
    }
}

.content {
    margin-top: 100px;
}

.blurb {
    h2 {
        color: $color-red;
        font-weight: 100;
    }

    p {
        color: #f498b8;
        font-weight: 100;
        font-size: 1.125rem;
        line-height: 2;
    }
}
